@charset "UTF-8";

/* 챌린지 시작 */

body {
	width: 375px;
	height: 812px;
	background: linear-gradient(180deg, #FFF5F2 0%, #E9F5F4 100%);
}

.container{
	position: relative;
	width: 375px;
	height: 812px;
	
}


/* 상단 네모 */
.top-rectangle{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 88.18%;
	
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	
}


/* 와이파이 */
.wifi{
	position: absolute;
	left: 81.07%;
	right: 13.6%;
	top: 8%;
	/* bottom: 96.31%;

	background: #000000; */
}
.wifi img{
	width:100%;
	height:100%;
}
/* 배터리 */
.battery{
	position: absolute;
	left: 88%;
	right: 6.67%;
	top: 8%;
	/* bottom: 96.43%;

	background: #000000; */
}
.battery img{
	width:100%;
	height:100%;
}

/* 데이터 */
.data{
	position: absolute;
	left: 74.67%;
	right: 20.53%;
	top: 8%;
}
.data img{
	width:100%;
	height:100%;
}


/* 9:40 */
.time{
	position: absolute;
	left: 8.53%;
	right: 78.13%;
	top: 8%;
	bottom: 96.8%;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;

	color: #000000;
}

/* hamburger 1 */
.hamburger{
	position: absolute;
	/* width: 20px;
	height: 20px; */
	/* left: 27px; */
	left: auto;
	right: 90%;
	top: 60%;
}
.hamburger img{
	width:100%;
	height:100%;
}


/* 마이 버찌 */
.my-budget{
	position: absolute;
	/* left: 39.47%; */
	right: 37.87%;
	top: 43%;
	bottom: 90.27%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}

/* 생성된 버찌가 없습니다.  핑크색 플러스 버튼을 눌러  버찌를 생성해보세요! */
.no-budget{
	position: absolute;
	width: 353px;
	height: 87px;
	left: 7px;
	top: 310px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	
	color: rgba(0, 0, 0, 0.37);
	
}



/* 버찌등록버튼 */
.registerbtn{
		
	position: absolute;
	width: 72px;
	height: 69px;
    left: 277px;
    top: 650px;
	background-color: transparent;
    border: none;
}


/* 원 */

position: absolute;
width: 72px;
height: 69px;
left: 288px;
top: 656px;

background: #F4C4C1;


/* 플러스 */

position: absolute;
width: 26px;
height: 26.9px;
left: 311px;
top: 678px;

background: url(plus.png);

/* 하단바 */

position: absolute;
width: 375px;
height: 65px;
left: 0px;
top: 747px;



/* 하단바 네모 */

position: absolute;
left: 0%;
right: 0%;
top: 92%;
bottom: 0%;

background: #FFFFFF;
border-radius: 25px 25px 0px 0px;


/* 하단 바 개인 페이지 홈 */

position: absolute;
width: 26px;
height: 26px;
left: 30px;
top: 767px;

background: url(home.png);


/* 하단 바 그룹페이지 */

position: absolute;
width: 26px;
height: 26px;
left: 99px;
top: 767px;

background: url(multiple-users-silhouette.png);


/* 하단 바 소비등록 */

position: absolute;
width: 26px;
height: 26.9px;
left: 175px;
top: 767px;

background: url(plus.png);


/* 하단 바 마이페이지 */

position: absolute;
width: 26px;
height: 26px;
left: 316px;
top: 767px;

background: url(account.png);


/* 하단 바 체리 */

position: absolute;
width: 26px;
height: 26px;
left: 249px;
top: 767px;

background: url(image.png);


@charset "UTF-8";

/* 챌린지 시작 */

body {
	width: 375px;
	height: 812px;
	background: linear-gradient(180deg, #FFF5F2 0%, #E9F5F4 100%);
}

.container{
	position: relative;
	width: 375px;
	height: 812px;
	
}


/* 상단 네모 */
.top-rectangle{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 88.18%;
	
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	
}


/* 와이파이 */
.wifi{
	position: absolute;
	left: 81.07%;
	right: 13.6%;
	top: 8%;
	/* bottom: 96.31%;

	background: #000000; */
}
.wifi img{
	width:100%;
	height:100%;
}
/* 배터리 */
.battery{
	position: absolute;
	left: 88%;
	right: 6.67%;
	top: 8%;
	/* bottom: 96.43%;

	background: #000000; */
}
.battery img{
	width:100%;
	height:100%;
}

/* 데이터 */
.data{
	position: absolute;
	left: 74.67%;
	right: 20.53%;
	top: 8%;
}
.data img{
	width:100%;
	height:100%;
}


/* 9:40 */
.time{
	position: absolute;
	left: 8.53%;
	right: 78.13%;
	top: 8%;
	bottom: 96.8%;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;

	color: #000000;
}

/* hamburger 1 */
.hamburger{
	position: absolute;
	/* width: 20px;
	height: 20px; */
	/* left: 27px; */
	left: auto;
	right: 90%;
	top: 60%;
}
.hamburger img{
	width:100%;
	height:100%;
}


/* 마이 버찌 */
.my-budget{
	position: absolute;
	/* left: 39.47%; */
	right: 37.87%;
	top: 43%;
	bottom: 90.27%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}

/* 생성된 버찌가 없습니다.  핑크색 플러스 버튼을 눌러  버찌를 생성해보세요! */
.no-budget{
	position: absolute;
	width: 353px;
	height: 87px;
	left: 7px;
	top: 310px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	
	color: rgba(0, 0, 0, 0.37);
	
}



/* 버찌등록버튼 */
.registerbtn{
		
	position: absolute;
	width: 72px;
	height: 69px;
    left: 277px;
    top: 650px;
	background-color: transparent;
    border: none;
}


/* 원 */

position: absolute;
width: 72px;
height: 69px;
left: 288px;
top: 656px;

background: #F4C4C1;


/* 플러스 */

position: absolute;
width: 26px;
height: 26.9px;
left: 311px;
top: 678px;

background: url(plus.png);

/* 하단바 */

position: absolute;
width: 375px;
height: 65px;
left: 0px;
top: 747px;



/* 하단바 네모 */

position: absolute;
left: 0%;
right: 0%;
top: 92%;
bottom: 0%;

background: #FFFFFF;
border-radius: 25px 25px 0px 0px;


/* 하단 바 개인 페이지 홈 */

position: absolute;
width: 26px;
height: 26px;
left: 30px;
top: 767px;

background: url(home.png);


/* 하단 바 그룹페이지 */

position: absolute;
width: 26px;
height: 26px;
left: 99px;
top: 767px;

background: url(multiple-users-silhouette.png);


/* 하단 바 소비등록 */

position: absolute;
width: 26px;
height: 26.9px;
left: 175px;
top: 767px;

background: url(plus.png);


/* 하단 바 마이페이지 */

position: absolute;
width: 26px;
height: 26px;
left: 316px;
top: 767px;

background: url(account.png);


/* 하단 바 체리 */

position: absolute;
width: 26px;
height: 26px;
left: 249px;
top: 767px;

background: url(image.png);


