@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	width: 375px;
	height: 812px;
	background: #F5F5F5;
	width:95%;
}

/* 상단네모 */
.top-rectangle{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 88.18%;
	
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 2;
}


/* 와이파이 */
.wifi{
	position: absolute;
	left: 81.07%;
	right: 13.6%;
	top: 8%;
	/* bottom: 96.31%;

	background: #000000; */
}
.wifi img{
	width:100%;
	height:100%;
}
/* 배터리 */
.battery{
	position: absolute;
	left: 88%;
	right: 6.67%;
	top: 8%;
	/* bottom: 96.43%;

	background: #000000; */
}
.battery img{
	width:100%;
	height:100%;
}
/* 데이터 */
.data{
	position: absolute;
	left: 74.67%;
	right: 20.53%;
	top: 8%;
	/* bottom: 96.31%;

	background: #000000;
	 */
}
.data img{
	width:100%;
	height:100%;
}
/* 9:40 */
.time{
	position: absolute;
	left: 8.53%;
	right: 78.13%;
	top: 8%;
	bottom: 96.8%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;

	color: #000000;
	
}


/* 이전페이지로 */
.back-page{
	position: absolute;
	left: auto;
	right: 90%;
	top: 60%;
	background-color: transparent;
    border: none;
	/* bottom: 90.27%;

	border: 2px solid #363636; */
}
.back-page img{
	width:100%;
	height:100%;
}

.my-budget{
	position: absolute;
	/* left: 39.47%; */
	right: 37.87%;
	top: 43%;
	bottom: 90.27%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
	
}

.container {
	border-radius: 0px 0px 30px 30px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 50px 0px;
	margin-bottom: 30px;
	background-color : #FFFFFF;

}

.box {
	margin: auto;
	width: 100%;
	max-width: 880px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
}

.year {
	text-align: center;
	font-size: 16px;
	margin-bottom: 3px;
	color: #6A6A6A;
}

.month {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

.month>button {
	background-color: transparent;
	border-style: none;
}

.total {
	margin: auto;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #FD4643;
	background: #FDEDEC;
	border: 0.3px solid #FAD6C1;
	border-radius: 5px;
	width: 70%;
	height: 24px;
}

.week {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
}

.w {
	text-align: center;
	width: 14%;
}

.day {
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap; '
	justify-content: center;
	align-items: center;
}

.day>button {
	font-family: 'Pretendard-Regular';
	width: 14%;
	height: 0;
	padding-bottom: 16%;
	background-color: transparent;
	font-size: 16px;
	font-weight: 600;
}

.daybtn {
	border-style: none none solid none;
	border-color: #F4F4F4;
	padding: 10px;
	position: relative;
}

.blankbtn {
	border-style: none;
}

.btn {
	width: 100%;
	height: 100%;
	text-align: left;
}

.btn>span {
	padding: 8px;
}

.pick {
	background-color: #79CCB8;
	color: white;
	border-radius: 20px
}

.daytotal {
	position: absolute;
	bottom: 0px;
	padding: 5px 15px 5px 15px;
	background-color: #E4F5F1;
	border-radius: 5px;
	color: #3DAA9D;
}

.consumebox {
	margin: auto;
	width: 100%;
	max-width: 880px;
}

 .dayconsumes {
	position: relative;
	z-index: 10;
	margin: auto;
	width: 100%;
	max-width: 880px;
<<<<<<< HEAD
}

/* 5월 4일 */

.current-date{
position: absolute;
left: 10.13%;
right: 74.93%;
top: 62.32%;
bottom: 35.1%;

font-family: 'Abhaya Libre ExtraBold';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;

color: #363636;
}

.detailbtn{
	position: absolute;
width: 18.98px;
height: 18.9px;
left: 299.07px;
top: 506px;

background: url(image.png);
transform: rotate(0.2deg);
	
}

.memcss{
	position: absolute;
width: 40px;
height: 27px;
left: 47px;
top: 556px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #79CCB8;
}

.memcssidx{
	position: absolute;
width: 53px;
height: 20px;
left: 275px;
top: 553px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;


color: #F96D6B;
	
}

.calendar-details {
   margin-top: 20px; /* Adjust the margin-top value as needed */
   display: flex;
   flex-direction: column;
   align-items: center;
}
